/* geral */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root {
  --bgBody: hsla(190, 100%, 3%, 1);
  --color: hsl(240, 9%, 89%);
  --bgMain: hsla(199, 100%, 5%, 1);
  --bgButton:hsl(195, 91%, 25%);
  font-size: 62.5%;
  /*1rem igual 10px*/
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.6rem;
  background: var(--bgBody);
  color: var(--color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}


main {
  background: var(--bgMain);
  width: 45rem;
  margin-inline: 2rem;
  
}
.form-control{
  
width: 31.6rem;
height: 4.8rem;
padding: 1.2rem 1.4rem;
font-size: 1.5rem;
border: 0.1rem solid var(--color);
outline: none;

}


button{
  background: var(--bgButton);
  border: none;
  outline: none;
  color: var(--color);
}
button:hover{
  filter: brightness(1.3);
}
@media (max-width: 426px){
 main{
  width: 36rem;
 }
 .form-control{
  width: 30rem;
 }
}
@media (max-width: 360px){
 main{
  width: 30rem;
 }
 .form-control{
  width: 24rem;
 }
}
